{% style %}
 .containerMySection{
   display:flex;
 }
 
 .beatleContainer{
  display:flex;
  gap:10px;
   background-color: purple;
 }

 
{% endstyle %}
{% assign beatles = "John, Paul, George, Ringo" | split: ", " %}
{% assign newBeat = beatles | slice: 0,2 %}
<div class="containerMySection">
  <h1 class="titleMySection">
  {{ section.settings.sectionMia | escape}}
</h1>
  {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
             {% endcase %}
    {% endfor %}
</div>
<div>
{% for beatle in newBeat %}
  <div class="beatleContainer">
    <p>number {{forloop.index}}: </p>
      <p> {{ beatle }}</p>
  </div>
    {% endfor %}
  
</div>



{% schema %}
  {
    "name": "Mi Seccion",
    "settings": [
      {
        "id":"sectionMia",
        "type":"text",
        "label":"Escribe Algo"
    }
    ],
    "blocks": [
      {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        }
      ]
    }
    ],
    "presets" : [{
      "name": "Mi seccion"
      
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}